header.main-header
  .container
    .row
      .col.l8.s12
          h2.left-align.white-font
            | <span>Unique</span> & <span>Modern</span> Designs for your <span class="header-bold">Business</span> = <span>Our Work</span>
