@import "modules/all";

#about{
  background: $mint;
  .col.s12{
    padding-top: 8%;
    padding-bottom: 8%;
    h2{
      color: #fff;
    }
    .col.s12 p{
      text-align: center;
      color: #fff;
    }
  }
  .divider{
    background-color: #fff;
  }
}
