@import "modules/all";


#contact{
  background-image: url('/assets/footer-header-mint.jpg');
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
  height: auto;
  color: #fff;
  margin-bottom: 0;
  .col.s12{
   padding-top: 10%;
  }
  form{
    padding-top: 5%;
  }
  input, textarea{
    border-bottom-color: #fff;
    &:focus{
      border-bottom-color: $blue;
      box-shadow: 0 2px 0 0 $blue;
    }
  }
  label{
    color: #fff;
  }
  .submit-btn{
    background-color: $blue;

  }
}
