$salmon: #f5705a;
$blue: #444f67;
$xxlarge-and-up: "(min-width: 1800px)";
$xlarge-and-up: "(min-width: 1200px)";
$xlarge-and-down: "(max-width: 1200px)";
$large-and-up: "(min-width: 993px)";
$medium-and-down: "(max-width: 992px)";
$medium-and-up: "(min-width: 992px)";
$small-and-down: "(max-width: 600px)";
$small-and-up: "(min-width: 600px)";


#contact{
  background: $salmon;
  color: #fff;
  .col.s12{
   padding-top: 8%;
   padding-bottom: 8%;
  }
  input, textarea{
    border-bottom-color: #fff;
    &:focus{
      border-bottom-color: $blue;
      box-shadow: 0 2px 0 0 $blue;
    }
  }
  label{
    color: #fff;
  }
}
