// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "modules/all";

h2{
  font-weight: 100 !important;
}

p{
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
}


.blue-font{
  color: $blue;
}

.mint-font{
  color: $mint;
}

.white-font{
  color: #fff;
}

.center-col{
  margin: 0 auto !important;
  float: none !important;
}
.right-col{
  margin: 0 auto;
  right: 0;
  float: right !important;
}

.vertical-center{
  display: inline-block !important;
  vertical-align: middle !important;
}


.main-header{
  background-image: url('/assets/main-header1.jpg');
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100vh;
  margin-top:-100px;
  .container .row .col.l8{
    padding-top: 32vh !important;

    h2{
      font-size: 50px !important;
      letter-spacing: 5px;
      font-weight: 100;
      span{
        color: $mint;
      }
      .header-bold{
        font-style: italic;
        font-weight: 400;
        color: #fff;
      }
    }
  }
}


.hidden-input{
  display: none;
}




@import "nav";
@import "about";
