$salmon: #f5705a;
$blue: #444f67;
$medium-grey: #8c8c8c;
$xxlarge-and-up: "(min-width: 1800px)";
$xlarge-and-up: "(min-width: 1200px)";
$xlarge-and-down: "(max-width: 1200px)";
$large-and-up: "(min-width: 993px)";
$medium-and-down: "(max-width: 992px)";
$medium-and-up: "(min-width: 992px)";
$small-and-down: "(max-width: 600px)";
$small-and-up: "(min-width: 600px)";

body nav{
 background-color: transparent;
 color: #000;
 box-shadow: none;
 .nav-padding{
  padding: 20px;
 }
 .brand-logo img{
   max-height: 75px;
   width: auto;
 }
 ul li > a{
   color: $blue;
   font-weight: 400;
   font-size: 18px;
 }
}

nav.navbar-fixed{
  height: 100px;
}

#notice-wrapper{
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1050;
  background: $blue;
  
  p{
    padding: 1.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1rem;

    color: #fff;
    letter-spacing: 2px;
  }
}
