// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$salmon: #f5705a;
$blue: #444f67;
$light-grey: rgba(#818791, 0.38);
$xxlarge-and-up: "(min-width: 1800px)";
$xlarge-and-up: "(min-width: 1200px)";
$xlarge-and-down: "(max-width: 1200px)";
$large-and-up: "(min-width: 993px)";
$medium-and-down: "(max-width: 992px)";
$medium-and-up: "(min-width: 992px)";
$small-and-down: "(max-width: 600px)";
$small-and-up: "(min-width: 600px)";


#portfolio{
  padding-top: 8%;
  padding-bottom: 8%;
  background: $blue;
  background-image: linear-gradient(10deg, #444f64 50%, #f5705a 105%);
  margin-bottom: 0;
  background-attachment: fixed;
  h2{
    color: #fff;
  }
  .portfolio-section{
    padding-top: 13%;
    div.portfolio-cols{
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0;
      .portfolio-img{
        object-fit: cover;
        width: 100%;
        height: 250px;
        overflow: none;
      }
    }
    .caption {
        position: relative;
        overflow: hidden;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .caption-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        color: white;
        transform: translateY(100%);
        transition: transform .35s ease-out;
        .portfolio-work-img, .portfolio-title-img{
          color: #fff;

        }
        .btn{
          background: $blue;
          &:hover{
            box-shadow: 0px 10px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          }
        }
    }
    .caption:hover .caption-overlay {
        transform: translateY(0);
    }

    .caption::before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
        transition: background .35s ease-out;
    }

    .caption:hover::before {
        background: rgba(#f5705a, 0.68);
    }

    .caption {

        transform: translateZ(0);
    }

  }

}

// Show Page

header.show-header{

  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  height: 80vh;
  margin-top:-100px;
  padding: 6% 0;
  .header-text{
    padding: 6% 0;
    h2{
      text-align: center;

    }
  }
}



.portfolio-info{
  margin-top: -80px !important;
  padding: 0 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.34), 0 2px 10px 0 rgba(0, 0, 0, 0.34);
  .about{
    padding-top: 8% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .bc{
    img{
      max-width: 100%;
    }

  }
  .web{
    img{
      max-width: 100%;
    }
  }
}
