// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$salmon: #f5705a;
$blue: #444f67;
$light-grey: rgba(#818791, 0.38);
$xxlarge-and-up: "(min-width: 1800px)";
$xlarge-and-up: "(min-width: 1200px)";
$xlarge-and-down: "(max-width: 1200px)";
$large-and-up: "(min-width: 993px)";
$medium-and-down: "(max-width: 992px)";
$medium-and-up: "(min-width: 992px)";
$small-and-down: "(max-width: 600px)";
$small-and-up: "(min-width: 600px)";

#portfolio{
  background: $blue;
  div.portfolio-cols{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    .portfolio-img{

      object-fit: cover;
      max-width: 380px;
      height: 250px;

      &:hover{
        background-color: $salmon;
        transition: ease-in-out all;
      }

    }
  }
}

  .images {
      position:relative;
  }
  .images img {
      width:100%;
      vertical-align:top;
  }
  .images:after, .images:before {
      position:absolute;
      opacity:0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
  }
  .images:after {
      content:'\A';
      width:100%;
      top:0;
      // z-index: 1;
      background:rgba(#f56f59, 0.72);
  }
  .images:before {
      content: attr(data-content);
      width:100%;
      color:#fff;
      z-index:1;
      bottom:0;
      top: 0;
      padding:4px 10px;
      text-align:center;
      background:red;
      box-sizing:border-box;
      -moz-box-sizing:border-box;
  }
  .images:hover:after, .images:hover:before {
      opacity:1;
  }
