// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$salmon: #f5705a;
$blue: #444f67;
$light-grey: rgba(#818791, 0.38);
$xxlarge-and-up: "(min-width: 1800px)";
$xlarge-and-up: "(min-width: 1200px)";
$xlarge-and-down: "(max-width: 1200px)";
$large-and-up: "(min-width: 993px)";
$medium-and-down: "(max-width: 992px)";
$medium-and-up: "(min-width: 992px)";
$small-and-down: "(max-width: 600px)";
$small-and-up: "(min-width: 600px)";


#portfolio{
  background: $blue;
  background-image: linear-gradient(10deg, #444f64 50%, #f5705a 105%);
  margin-bottom: 0;
  background-attachment: fixed;
  .portfolio-section{
    padding-top: 3%;
    div.portfolio-cols{
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      .portfolio-img{
        object-fit: cover;
        width: 380px;
        height: 250px;
        overflow: none;
      }
    }
    .caption {
        position: relative;
        overflow: hidden;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .caption-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        color: white;
        transform: translateY(100%);
        transition: transform .35s ease-out;
        .portfolio-title-img{
          color: #fff;

        }
    }
    .caption:hover .caption-overlay {
        transform: translateY(0);
    }

    .caption::before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
        transition: background .35s ease-out;
    }

    .caption:hover::before {
        background: rgba(#f5705a, 0.68);
    }

    .caption {

        transform: translateZ(0);
    }

  }

}
