@import "modules/all";

.service-icon{
  max-height: auto;
  max-width: 100%;
}
#what-we-do{
  .col.s12{
    padding-top: 8%;
    padding-bottom: 8%;
    h2{
      color: $blue;
    }
    .col.s10 p{
      color: $blue;
    }
  }
  .divider{
    background-color: $blue;
  }
}

.icons{
  h4, p{
    color: $blue;
  }
}

.grey-serv-bg{

  padding: 5% 0 5% 0;
  background-image: linear-gradient(10deg, #fff 50%, $salmon 105%);
  margin-bottom: 0px !important;
  background-attachment: fixed;
}

.white-serv-bg{
  background: #fff;
  padding: 5% 0 5% 0;
  background-image: linear-gradient(-10deg, #fff 50%, $blue 105%);
  background-attachment: fixed;
  margin-bottom: 0px !important;
}
